.answer h4 {
 color: magenta;
 font-family: 'Times New Roman', Times, serif;
}

.operation h4 {
    color: mediumseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   }


h5.blink {
    color: darkred;
    animation: blinker 2s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker { to { opacity: 0; } }