<div class="calc">
    <div class ="form-group">
        First Number  :<input [(ngModel)]='firstNumber' type="number" name="firstNumber" class="form-control" aria-valuetext="Enter the first number"> <br/><br/>
        Second Number :<input [(ngModel)]='secondNumber' type="number" name="secondNumber" class="form-control" aria-valuetext="Enter the second number">
    </div>
    <div class="button">
        <br>
       <button class="btn btn-success" (click)=addition()>Addition</button>&nbsp;
       <button class="btn btn-success" (click)=subtraction()>Subtraction</button>&nbsp;
       <button class="btn btn-success" (click)=division()>Division</button>&nbsp;
       <button class="btn btn-success" (click)=multiplication()>Multiplication</button>&nbsp;

        <br><br><br>
    </div>
    <div class="operation">
        <hr>
        <h4>Operation Performed:</h4>
        <h5>First Number: {{firstNumber}}</h5>
        <h5>Second Number: {{secondNumber}}</h5>
        <h5>Chosen Operator: {{operatorName}}</h5>
        <hr>
    </div>
    <div class="answer">

            <h4>You result:</h4><h5 class="blink">{{result}}</h5>
    </div>       
    </div>
